.block-txtmedia-wide{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  align-items: center
}

.block-txtmedia-wide.reverse-order{--block-grid-layout: var(--block-media-width) 1fr}
.block-txtmedia-wide.is-style-narrow-media{--block-media-width: 25rem}

.block-txtmedia-wide.reverse-order .block-txtmedia__content{order: 1}

.reverse-order-wide{order: 1;}

.block-txtmedia-wide .video-container{width: 100%; position: relative}
   .block-txtmedia-wide .video-container::before{content: ''; display: block; padding-top:54%}
   .block-txtmedia-wide .video-container > *{position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; object-fit: cover; transform: translateX(-50%) translateY(-50%); user-select: none; pointer-events: none}

.block-txtmedia-wide__content{
  padding: 0 7.5rem 0 7.5rem;
}

@media only screen and (max-width:40rem){
   .block-txtmedia-wide{
      grid-template-rows: none !important;
   }
}


@media only screen and (max-width:1024px){
   .block-txtmedia-wide{
      grid-template-columns: repeat(1, 1fr) !important;
   }
   .block-txtmedia-wide__content{
      padding: 2rem 2.5rem;
   }
}