@font-face {
   font-family: 'Epilogue';
   src: url('../fonts/Epilogue-Bold.woff2') format('woff2'),
       url('../fonts/Epilogue-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Epilogue';
   src: url('../fonts/Epilogue-Regular.woff2') format('woff2'),
       url('../fonts/Epilogue-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Epilogue';
   src: url('../fonts/Epilogue-ExtraBold.woff2') format('woff2'),
       url('../fonts/Epilogue-ExtraBold.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Epilogue';
   src: url('../fonts/Epilogue-Medium.woff2') format('woff2'),
       url('../fonts/Epilogue-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Epilogue';
   src: url('../fonts/Epilogue-MediumItalic.woff2') format('woff2'),
       url('../fonts/Epilogue-MediumItalic.woff') format('woff');
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Epilogue';
   src: url('../fonts/Epilogue-LightItalic.woff2') format('woff2'),
       url('../fonts/Epilogue-LightItalic.woff') format('woff');
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Epilogue';
   src: url('../fonts/Epilogue-Light.woff2') format('woff2'),
       url('../fonts/Epilogue-Light.woff') format('woff');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Epilogue';
   src: url('../fonts/Epilogue-BoldItalic.woff2') format('woff2'),
       url('../fonts/Epilogue-BoldItalic.woff') format('woff');
   font-weight: 700;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Epilogue';
   src: url('../fonts/Epilogue-Italic.woff2') format('woff2'),
       url('../fonts/Epilogue-Italic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: 'Epilogue';
   src: url('../fonts/Epilogue-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/Epilogue-ExtraBoldItalic.woff') format('woff');
   font-weight: 900;
   font-style: italic;
   font-display: swap;
}



:root{
   /* body */
   --ama-font-sans-serif: 'Epilogue', sans-serif;
   --ama-body-font-family: var(--ama-font-sans-serif);
   --ama-body-font-size: 1rem;
   --ama-body-font-weight: 400;
   --ama-body-line-height: 1.875rem;
   --ama-body-color: #303030;
   --ama-body-bg: #fff;

   --ama-primary-color: #EE1C25;
   --ama-secondary-color: #000000;
   --ama-third-color: #fff;

   /* typography */
   --ama-heading-color: #000;

   --ama-h-font-family: inherit;
   --ama-h-font-weight: 900;

   --ama-h1-font-size: 2.8125rem;
   --ama-h1-line-height: 3.5rem;

   --ama-h2-font-size: 2rem;
   --ama-h2-line-height: 2.8125rem ;

   --ama-h3-font-size: 1.6875rem;
   --ama-h3-line-height: 1.875rem;

   --ama-h4-font-size: 1.4rem;
   --ama-h4-line-height: 1em;

   --ama-h5-font-size: 1.3rem;
   --ama-h5-line-height: 1em;

   --ama-h6-font-size: 1.25rem;
   --ama-h6-line-height: 1em;

   --ama-xxl-font-size: 3rem;
   --ama-xxl-line-height: 1em;

   --ama-semi-xxl-font-size: 2.5rem;
   --ama-semi-xxl-line-height: 1em;

   --ama-xl-font-size: 2rem;
   --ama-xl-line-height: 1em;

   --ama-lg-font-size: 1.75rem;
   --ama-lg-line-height: 1em;

   --ama-semi-lg-font-size: 1.5rem;
   --ama-semi-lg-line-height: 1em;

   --ama-md-font-size: 1.25rem;
   --ama-md-line-height: 1em;

   --ama-sm-font-size: 1rem;
   --ama-sm-line-height: 1.25rem;

   --ama-post-title-font-size: var(--ama-h1-font-size);
   --ama-post-title-line-height: var(--ama-h1-line-height);

   --ama-query-title-font-size: var(--ama-h1-font-size);
   --ama-query-title-line-height: var(--ama-h1-line-height);

   --ama-site-title-font-size: var(--ama-h1-font-size);
   --ama-site-title-line-height: var(--ama-h1-line-height);

   --ama-flexbox-gap-sm:0.5rem;

   --ama-custom-font-size:2rem;
   --ama-custom-font-weight:700;
   --ama-custom-font-weight-sm:300;

   /* ul style */
   --ama-marker-color: var(--ama-primary-color);

   /* gutter */
   --ama-gutter-x: .9375rem;
   --ama-gutter-double-x: calc(var(--ama-gutter-x) * 2);
   --ama-gutter-y: 0;

   --ama-gutter-button-x: var(--ama-gutter-x);
   --ama-gutter-column-x: var(--ama-gutter-x);

   /* margins */
   --ama-margin-top-base: 1.2rem;
   --ama-margin-top-heading: 2.5rem;
   --ama-margin-top-li: .625rem;
   
   --ama-margin-top-buttons: calc(2.5rem - var(--ama-gutter-button-x))!important;
   --ama-margin-top-columns: 3.125rem;
   --ama-margin-bottom-columns: 6.125rem;

   --ama-margin-top-wpcf7: 1.875rem;
   --ama-margin-top-block: 6.25rem;

   /* offsets */
   --ama-offset-top-first: 2.5rem;
   --ama-offset-bottom-last: 2.5rem;

   /* alerts */   
   --ama-alert-bg: transparent;
   --ama-alert-padding-x: 1rem;
   --ama-alert-padding-y: 1rem;
   --ama-alert-margin-bottom: 1rem;
   --ama-alert-color: inherit;
   --ama-alert-border-color: transparent;
   --ama-alert-border: 1px solid var(--ama-alert-border-color);
   --ama-alert-border-radius: .375rem;
   
   --ama-body-color-rgb: 33, 37, 41;
   --ama-body-bg-rgb: 255, 255, 255;

   --ama-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

   /* borders (modal / accordion etc) */
   --ama-border-width: 1px;
   --ama-border-style: solid;
   --ama-border-color: #dee2e6;
   --ama-border-color-translucent: rgba(0, 0, 0, .175);
   --ama-border-radius: .375rem;
   --ama-border-radius-pill: 50rem;

   /* header */
   --ama-header-height: 8rem;
   --ama-header-height-m: 6rem;
   --ama-header-bgcolor: rgba(255, 255, 255, 0);
   --ama-header-font-size:0.9375rem;
   --ama-header-sticky-box-shadow: 0 .625rem 1.25rem 0 rgba(0, 0, 0, .06);


   /* footer */
   --ama-footer-padding-top: 2.5rem;
   --ama-footer-padding-bottom: 2.5rem;
   --ama-footer-font-size:0.9375rem;
   --ama-footer-bgcolor: rgba(255, 255, 255, 0);

   /* link */
   --ama-link-color: #EE1C25 ;
   --ama-link-hover-color: var(--ama-secondary-color);

   --ama-secondary-link-color:#fff;
   --ama-secondary-link-hover-color:#000;

   /* code / highlight */
   --ama-code-color: #d63384;
   --ama-highlight-bg: #fff3cd;
   
   /* containers */
   --ama-container: 73.125rem;
   --ama-container-xl: 98.125rem;
   --ama-container-xxl: 107.5rem;
   --ama-container-header: 101.25rem;

   /* buttons */
   --ama-btn-font-family: inherit;
   --ama-btn-font-size: var(--ama-body-font-size);
   --ama-btn-font-weight: 800;
   --ama-btn-line-height: 1.25rem;
   --ama-btn-border-width: 1px;
   --ama-btn-border-color: transparent;
   --ama-btn-padding-x: calc(1.25rem - var(--ama-btn-border-width));
   --ama-btn-padding-y: calc(.625rem - var(--ama-btn-border-width));

   --ama-btn-arrow-padding:0.5rem;

   --ama-btn-border-radius: 1.25rem;
   --ama-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
   --ama-btn-disabled-opacity: .65;
   --ama-btn-focus-box-shadow: 0 0 0 .25rem rgba(var(--ama-btn-focus-shadow-rgb), .5);
   --ama-btn-transform: capitalize;

   --ama-btn-color: #fff;
   --ama-btn-bg: var(--ama-primary-color);
   --ama-btn-border-color: var(--ama-btn-bg);
   
   --ama-btn-disabled-opacity: .5;
   --ama-btn-translateY: -.3125rem;

   /* tooltips */   
   --ama-tooltip-zindex: 1080;
   --ama-tooltip-max-width: 12.5rem;
   --ama-tooltip-padding-x: .5rem;
   --ama-tooltip-padding-y: .25rem;
   --ama-tooltip-margin: ;
   --ama-tooltip-font-size: .75rem;
   --ama-tooltip-color: #fff;
   --ama-tooltip-bg: #000;
   --ama-tooltip-border-radius: .375rem;
   --ama-tooltip-opacity: .9;
   --ama-tooltip-arrow-width: .8rem;
   --ama-tooltip-arrow-height: .4rem;

   /* scroll-to-top */
   --ama-scroll-top-width: 3rem;
   --ama-scroll-top-height: 3rem;
   --ama-scroll-top-border-radius: 50%;
   --ama-scroll-top-color: #fff;
   --ama-scroll-top-bg: var(--ama-primary-color);

   /* splide */
   --ama-splide-width: 3.125rem;
   --ama-splide-height: var(--ama-splide-width);
   --ama-splide-color: #fff;
   --ama-splide-bgcolor: var(--ama-primary-color);
   --ama-splide-border-radius: 50%;

   /* Map */
   --ama-map-sm:25rem;
   --ama-map-m:45rem;
   --ama-map-xl:50rem;
}

#html .arve{margin-bottom: 0}

/* =============================================================================
   typography
   ========================================================================== */
h1{font-size: var(--ama-h1-font-size); line-height: var(--ama-h1-line-height); font-style: italic}
h2{font-size: var(--ama-h2-font-size); line-height: var(--ama-h2-line-height) !important; font-style: italic}
h3{font-size: var(--ama-h3-font-size); line-height: var(--ama-h3-line-height); font-style: italic}
h4{font-size: var(--ama-h4-font-size); line-height: var(--ama-h4-line-height); font-style: italic}
h5{font-size: var(--ama-h5-font-size); line-height: var(--ama-h5-line-height); font-style: italic}
h6{font-size: var(--ama-h6-font-size); line-height: var(--ama-h6-line-height); font-style: italic}

.has-giant-font-size{font-size: var(--ama-xxl-font-size); line-height: var(--ama-xxl-line-height)}
.has-semi-giant-font-size{font-size: var(--ama-semi-xxl-font-size); line-height: var(--ama-semi-xxl-line-height)}
.has-huge-font-size{font-size: var(--ama-xl-font-size); line-height: var(--ama-xl-line-height)}
.has-large-font-size{font-size: var(--ama-lg-font-size); line-height: var(--ama-lg-line-height)}
.has-semi-large-font-size{font-size: var(--ama-semi-lg-font-size); line-height: var(--ama-semi-lg-line-height)}
.has-medium-font-size{font-size: var(--ama-md-font-size); line-height: var(--ama-md-line-height)}
.has-small-font-size{font-size: var(--ama-sm-font-size); line-height: var(--ama-sm-line-height)}

.fst-italic{font-style: italic !important}
.fst-normal{font-style: normal !important}
.fw-light, .is-style-fw-light{font-weight: 300!important}
.fw-normal, .is-style-fw-normal{font-weight: 400!important}
.fw-medium, .is-style-fw-medium{font-weight: 500!important}
.fw-semibold, .is-style-fw-semibold{font-weight: 600!important}
.fw-bold, .is-style-fw-bold{font-weight: 700!important}

.text-start{text-align: left !important}
.text-end{text-align: right !important}
.text-center{text-align: center !important}
.text-decoration-none{text-decoration: none !important}
.text-decoration-underline{text-decoration: underline !important}
.text-decoration-line-through{text-decoration: line-through !important}
.text-lowercase{text-transform: lowercase !important}
.text-uppercase{text-transform: uppercase !important}
.text-capitalize{text-transform: capitalize !important}
.text-wrap{white-space: normal !important}
.text-nowrap{white-space: nowrap !important}

/* =============================================================================
   remixicon
   ========================================================================== */
@font-face {
   font-family: "remixicon";
   src: url('../fonts/remixicon.eot?t=1627896142516'); /* IE9*/
   src: url('../fonts/remixicon.eot?t=1627896142516#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url("../fonts/remixicon.woff2?t=1627896142516") format("woff2"),
   url("../fonts/remixicon.woff?t=1627896142516") format("woff"),
   url('../fonts/remixicon.ttf?t=1627896142516') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
   url('../fonts/remixicon.svg?t=1627896142516#remixicon') format('svg');
   font-display: swap
}
.ri-font{font-family: 'remixicon' !important; font-style: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale}
.ri-arrow-down-s-line:before { content: "\ea4e"; }
.ri-arrow-right-s-line:before { content: "\ea6e"; }
.ri-arrow-left-s-line:before { content: "\ea64"; }
.ri-check-line:before { content: "\eb7b"; }
.ri-close-line:before { content: "\eb99"; }
.ri-star-line:before { content: "\f18b"; }
.ri-star-half-line:before { content: "\f188"; }
.ri-star-fill:before { content: "\f186"; }
.ri-arrow-up-s-line:before { content: "\ea78"; }

/* =============================================================================
   data-opacity
   ========================================================================== */
*[data-opacity]::before{opacity: var(--bg-opacity); content: ''; display: block; position: absolute; inset: 0; background: rgb(0,35,102); background: linear-gradient(90deg, rgba(0,35,102,1) 0%, rgba(0,35,102,0.5) 70%, rgba(0,35,102,0) 100%);}*[data-opacity="0"]::before{--bg-opacity: 0}*[data-opacity="5"]::before{--bg-opacity: 0.05}*[data-opacity="10"]::before{--bg-opacity: 0.1}*[data-opacity="15"]::before{--bg-opacity: 0.15}*[data-opacity="20"]::before{--bg-opacity: 0.2}*[data-opacity="25"]::before{--bg-opacity: 0.25}*[data-opacity="30"]::before{--bg-opacity: 0.3}*[data-opacity="35"]::before{--bg-opacity: 0.35}*[data-opacity="40"]::before{--bg-opacity: 0.4}*[data-opacity="45"]::before{--bg-opacity: 0.45}*[data-opacity="50"]::before{--bg-opacity: 0.5}*[data-opacity="55"]::before{--bg-opacity: 0.55}*[data-opacity="60"]::before{--bg-opacity: 0.6}*[data-opacity="65"]::before{--bg-opacity: 0.65}*[data-opacity="70"]::before{--bg-opacity: 0.7}*[data-opacity="75"]::before{--bg-opacity: 0.75}*[data-opacity="80"]::before{--bg-opacity: 0.8}*[data-opacity="85"]::before{--bg-opacity: 0.85}*[data-opacity="90"]::before{--bg-opacity: 0.9}*[data-opacity="95"]::before{--bg-opacity: 0.95}*[data-opacity="100"]::before{--bg-opacity: 1}

/* =============================================================================
   data-columns
   ========================================================================== */
[data-columns="1"]:not(.woocommerce-product-gallery){--ama-columns: 1}
[data-columns="2"]:not(.woocommerce-product-gallery){--ama-columns: 2}
[data-columns="3"]:not(.woocommerce-product-gallery){--ama-columns: 3}
[data-columns="4"]:not(.woocommerce-product-gallery){--ama-columns: 4}

@media (max-width: 991px){
   [data-columns="3"]:not(.woocommerce-product-gallery),
   [data-columns="4"]:not(.woocommerce-product-gallery){--ama-columns: 3}
}
@media (max-width: 767px){
   [data-columns="2"]:not(.woocommerce-product-gallery),
   [data-columns="3"]:not(.woocommerce-product-gallery),
   [data-columns="4"]:not(.woocommerce-product-gallery){--ama-columns: 2}
}
@media (max-width: 567px){
   [data-columns="2"]:not(.woocommerce-product-gallery),
   [data-columns="3"]:not(.woocommerce-product-gallery),
   [data-columns="4"]:not(.woocommerce-product-gallery){--ama-columns: 1}
}

[data-columns]:not(.woocommerce-product-gallery){
   display: grid;
   grid-template-columns: repeat(var(--ama-columns), 1fr);
   gap: calc(var(--ama-gutter-x) * 2)
}

/* =============================================================================
   tables
   ========================================================================== */
table{width: 100%; margin-top:var(--ama-margin-top-columns); border:none !important;}
table th{text-align: unset}
table tr > *{padding: .5125rem}
td{
   padding: 1rem 0.5rem !important ;
}
.wp-block-table > table > tbody{
   color: black;
   border: none;
}
.wp-block-table > table > thead> tr:nth-child(1){
   background-color: #000;
   color: #fff !important; 
}

table tr:nth-child(odd):not(tr:nth-child(1)) td{ background-color:#fff; }  
table tr:nth-child(even) td{ background-color:#F5F5F5; }
table > tbody > tr > td >*{color:var(--ama-primary-color) !important; text-decoration: none; font-weight: 400;}
/* =============================================================================
   containers
   ========================================================================== */
.gutenberg-elements > *:not(.wp-block-buttons):not(.wp-block-columns):not(.alignmax),
.alignmax > *:not(.wp-block-buttons):not(.wp-block-columns):not(.alignmax):not(.position-absolute){width: 100%}

.container,
.container-xxl,
.container-header,
.gutenberg-elements > *:not(.row):not(.wp-block-buttons):not(.wp-block-columns):not(.alignmax):not(.acf-block-element.block-icon),
.wp-block-columns,
.alignwide,
.alignfull,
.alignmax > *:not(.wp-block-buttons):not(.wp-block-columns):not(.alignmax):not(.position-absolute):not(.block-txtmedia-wide__content):not(.block-txtmedia-wide__media):not(.acf-map){--element-max-width: calc(var(--ama-container) + var(--ama-gutter-double-x)); max-width: var(--element-max-width); padding-left: var(--ama-gutter-x); padding-right: var(--ama-gutter-x); margin-left: auto; margin-right: auto}
.gutenberg-elements > .row{--element-max-width: calc(var(--ama-container) + var(--ama-gutter-double-x)); max-width: var(--element-max-width); margin-left: auto; margin-right: auto}
.block-logos.alignmax > .splide{max-width: 100%!important}
/***  ***/
/***  ***/
/***  ***/
.acf-block-element.block-icon{--element-max-width: calc(var(--ama-container-xxl) + var(--ama-gutter-double-x)); max-width: var(--element-max-width); margin-left: auto; margin-right: auto;  padding-left: var(--ama-gutter-x); padding-right: var(--ama-gutter-x);}
/***  ***/
/***  ***/
/***  ***/
.alignwide,
.container-xl{--element-max-width: calc(var(--ama-container-xl) + var(--ama-gutter-double-x))}

.alignfull,
.container-xxl{--element-max-width: calc(var(--ama-container-xxl) + var(--ama-gutter-double-x))}

.container-header{--element-max-width: calc(var(--ama-container-header) + var(--ama-gutter-double-x))}

.gutenberg-elements > .wp-block-buttons{max-width: calc(var(--ama-container) + var(--ama-gutter-double-x)); margin-left: auto!important; margin-right: auto!important}

.alignmax{padding-left: 0; padding-right: 0; max-width: 100%;}


.col-auto.col-xl.col-nav.d-flex.flex-wrap.justify-content-around{align-items: center;}

/* =============================================================================
   buttons
   ========================================================================== */
.btn,
body:not(.wp-admin) .button,
.wpcf7-submit,
.wp-block-button .wp-block-button__link{
   display: inline-flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   align-items: center;
   user-select: none;
   padding: var(--ama-btn-padding-y) var(--ama-btn-padding-x);
   font-family: var(--ama-btn-font-family);
   font-size: var(--ama-btn-font-size);
   font-weight: var(--ama-btn-font-weight);
   line-height: var(--ama-btn-line-height);
   color: var(--ama-btn-color)!important;
   text-align: center;
   text-decoration: none;
   vertical-align: middle;
   cursor: pointer;
   user-select: none;
   background-color: var(--ama-btn-bg);
   transition: transform .25s linear;
   /* text-transform: var(--ama-btn-transform); */
   border-radius: 2rem;
   border: none;
}

.wp-block-button__link:not(.footer-button){
   margin-top: var(--ama-margin-top-buttons);
}


.wp-block-button__link.hero-button{
   --ama-btn-padding-x: calc(1.50rem - var(--ama-btn-border-width));
   --ama-btn-padding-y: calc(0.925rem - var(--ama-btn-border-width));
}

.wp-button-border .wp-block-button__link{
   border: var(--ama-btn-border-width) solid var(--ama-border-color);
   border-radius: var(--ama-btn-border-radius);
}

.wp-block-button__link::after{
   content: '\25ba';
   padding-left: var(--ama-btn-arrow-padding);
}

@media (prefers-reduced-motion: reduce) {
   .btn,
   body:not(.wp-admin) .button,
   .wpcf7-submit,
   .wp-block-button .wp-block-button__link{transition: none}
}

.wp-block-button.is-style-outline .wp-block-button__link{
   border-width: var(--ama-btn-border-width)!important;
   padding: var(--ama-btn-padding-y) var(--ama-btn-padding-x)!important;
   color: var(--ama-primary-color)!important
}
.wp-block-button.is-style-secondary .wp-block-button__link{
   --ama-btn-color: #fff!important;
   --ama-btn-bg: var(--ama-secondary-color);
   --ama-btn-border-color: var(--ama-btn-bg);
}
.wp-block-button.is-style-secondary-outline .wp-block-button__link{
   --ama-btn-color: var(--ama-secondary-color)!important;
   --ama-btn-border-color: currentColor;
   --ama-btn-bg: transparent
}

.btn:not(:disabled):hover,
body:not(.wp-admin) .button:not(:disabled):hover,
.wpcf7-submit:not(:disabled):hover,
.wp-block-button .wp-block-button__link:not(:disabled):hover{transform: translateY(var(--ama-btn-translateY))}

.btn:disabled, .btn.disabled,
fieldset:disabled .btn,
fieldset:disabled .button,
body:not(.wp-admin) .button:disabled, body:not(.wp-admin) .button.disabled,
.wpcf7-submit:disabled,
.wp-block-button.disabled .wp-block-button__link,
.wp-block-button .wp-block-button__link.disabled,
.wp-block-button .wp-block-button__link:disabled{pointer-events: none; opacity: var(--ama-btn-disabled-opacity)}

.wp-block-buttons,
.wp-block-columns{gap: 0!important}

@media (min-width: 782px){
   .wp-block-columns > *:not(:last-child){padding-right: var(--ama-gutter-column-x)}
   .wp-block-columns > *:not(:first-child){padding-left: var(--ama-gutter-column-x)}
}
@media (max-width: 781px){
   .wp-block-columns > * + *{margin-top: calc(var(--ama-gutter-column-x) * 2)}
}

/* =============================================================================
   pagination
   ========================================================================== */
.woocommerce-pagination,
.pagi-nav{
   --ama-pagination-width: 2.5rem;
   --ama-pagination-height: 2.5rem;
   --ama-pagination-font-size: 1rem;
   --ama-pagination-font-weight: 400;
   --ama-pagination-border-width: 1px;
   --ama-pagination-border-style: solid;
   --ama-pagination-border-radius: calc(var(--ama-pagination-height) / 2);
   --ama-pagination-color: var(--ama-primary-color);
   --ama-pagination-hover-color: #fff;
   --ama-pagination-hover-bgcolor: var(--ama-pagination-color);
   --ama-pagination-hover-border-color: var(--ama-pagination-color);
   color: var(--ama-pagination-color)
}
* + .woocommerce-pagination,
* + .pagi-nav{margin-top: 2.5rem}

   .woocommerce-pagination ul,
   .woocommerce-pagination li > *,
   .pagi-nav ul,
   .pagi-nav li > *{display: flex; align-items: center; justify-content: center; flex-wrap: wrap; padding: 0}

   .woocommerce-pagination ul,
   .pagi-nav ul{list-style: none; margin: -.5rem}

      .woocommerce-pagination li,
      .pagi-nav li{margin: .5rem}

      .woocommerce-pagination li > *,
      .pagi-nav li > *{
         font-size: var(--ama-pagination-font-size);
         line-height: 1em;
         font-weight: var(--ama-pagination-font-weight);
         width: var(--ama-pagination-width);
         height: var(--ama-pagination-height);
         border-radius: var(--ama-pagination-border-radius);
         text-decoration: none!important;
         color: inherit;
         border: var(--ama-pagination-border-width) var(--ama-pagination-border-style) currentColor;
         transition: all .15s ease-in-out
      }

      .woocommerce-pagination li > a:hover,
      .woocommerce-pagination li > .current,
      .pagi-nav li > a:hover,
      .pagi-nav li > .current{color: var(--ama-pagination-hover-color); background-color: var(--ama-pagination-hover-bgcolor); border-color: var(--ama-pagination-hover-border-color)}

/* =============================================================================
   grid
   ========================================================================== */
.row,
.wp-block-buttons{display: flex; flex-wrap: wrap}

.row{margin-right: calc(-1 * var(--ama-gutter-x)); margin-left: calc(-1 * var(--ama-gutter-x))}
.row-grid{margin-top: calc(-1 * var(--ama-gutter-x)); margin-bottom: calc(-1 * var(--ama-gutter-x))}

.wp-block-buttons{margin: calc(-1 * var(--ama-gutter-button-x))}

.row > *{flex-shrink: 0; width: 100%; max-width: 100%; padding-right: var(--ama-gutter-x); padding-left: var(--ama-gutter-x); margin-top: var(--ama-gutter-y)}
.row-grid > *{padding-top: var(--ama-gutter-x); padding-bottom: var(--ama-gutter-x)}

.wp-block-buttons > *{padding: var(--ama-gutter-button-x)}

.col{flex:1 0 0}.row-cols-auto > *{flex:0 0 auto;width:auto}.row-cols-1 > *{flex:0 0 auto;width:100%}.row-cols-2 > *{flex:0 0 auto;width:50%}.row-cols-3 > *{flex:0 0 auto;width:33.33334%}.row-cols-4 > *{flex:0 0 auto;width:25%}.row-cols-5 > *{flex:0 0 auto;width:20%}.row-cols-6 > *{flex:0 0 auto;width:16.66668%}.col-auto{flex:0 0 auto;width:auto}.col-1{flex:0 0 auto;width:8.33334%}.col-2{flex:0 0 auto;width:16.66668%}.col-3{flex:0 0 auto;width:25%}.col-4{flex:0 0 auto;width:33.33334%}.col-5{flex:0 0 auto;width:41.66668%}.col-6{flex:0 0 auto;width:50%}.col-7{flex:0 0 auto;width:58.33334%}.col-8{flex:0 0 auto;width:66.66668%}.col-9{flex:0 0 auto;width:75%}.col-10{flex:0 0 auto;width:83.33334%}.col-11{flex:0 0 auto;width:91.66668%}.col-12{flex:0 0 auto;width:100%}.offset-1{margin-left:8.33334%}.offset-2{margin-left:16.66668%}.offset-3{margin-left:25%}.offset-4{margin-left:33.33334%}.offset-5{margin-left:41.66668%}.offset-6{margin-left:50%}.offset-7{margin-left:58.33334%}.offset-8{margin-left:66.66668%}.offset-9{margin-left:75%}.offset-10{margin-left:83.33334%}.offset-11{margin-left:91.66668%}

@media (min-width: 576px){.col-sm{flex:1 0 0}.row-cols-sm-auto > *{flex:0 0 auto;width:auto}.row-cols-sm-1 > *{flex:0 0 auto;width:100%}.row-cols-sm-2 > *{flex:0 0 auto;width:50%}.row-cols-sm-3 > *{flex:0 0 auto;width:33.33334%}.row-cols-sm-4 > *{flex:0 0 auto;width:25%}.row-cols-sm-5 > *{flex:0 0 auto;width:20%}.row-cols-sm-6 > *{flex:0 0 auto;width:16.66668%}.col-sm-auto{flex:0 0 auto;width:auto}.col-sm-1{flex:0 0 auto;width:8.33334%}.col-sm-2{flex:0 0 auto;width:16.66668%}.col-sm-3{flex:0 0 auto;width:25%}.col-sm-4{flex:0 0 auto;width:33.33334%}.col-sm-5{flex:0 0 auto;width:41.66668%}.col-sm-6{flex:0 0 auto;width:50%}.col-sm-7{flex:0 0 auto;width:58.33334%}.col-sm-8{flex:0 0 auto;width:66.66668%}.col-sm-9{flex:0 0 auto;width:75%}.col-sm-10{flex:0 0 auto;width:83.33334%}.col-sm-11{flex:0 0 auto;width:91.66668%}.col-sm-12{flex:0 0 auto;width:100%}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.33334%}.offset-sm-2{margin-left:16.66668%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.33334%}.offset-sm-5{margin-left:41.66668%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.33334%}.offset-sm-8{margin-left:66.66668%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.33334%}.offset-sm-11{margin-left:91.66668%}}@media (min-width: 768px){.col-md{flex:1 0 0}.row-cols-md-auto > *{flex:0 0 auto;width:auto}.row-cols-md-1 > *{flex:0 0 auto;width:100%}.row-cols-md-2 > *{flex:0 0 auto;width:50%}.row-cols-md-3 > *{flex:0 0 auto;width:33.33334%}.row-cols-md-4 > *{flex:0 0 auto;width:25%}.row-cols-md-5 > *{flex:0 0 auto;width:20%}.row-cols-md-6 > *{flex:0 0 auto;width:16.66668%}.col-md-auto{flex:0 0 auto;width:auto}.col-md-1{flex:0 0 auto;width:8.33334%}.col-md-2{flex:0 0 auto;width:16.66668%}.col-md-3{flex:0 0 auto;width:25%}.col-md-4{flex:0 0 auto;width:33.33334%}.col-md-5{flex:0 0 auto;width:41.66668%}.col-md-6{flex:0 0 auto;width:50%}.col-md-7{flex:0 0 auto;width:58.33334%}.col-md-8{flex:0 0 auto;width:66.66668%}.col-md-9{flex:0 0 auto;width:75%}.col-md-10{flex:0 0 auto;width:83.33334%}.col-md-11{flex:0 0 auto;width:91.66668%}.col-md-12{flex:0 0 auto;width:100%}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.33334%}.offset-md-2{margin-left:16.66668%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.33334%}.offset-md-5{margin-left:41.66668%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.33334%}.offset-md-8{margin-left:66.66668%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.33334%}.offset-md-11{margin-left:91.66668%}}@media (min-width: 992px){.col-lg{flex:1 0 0}.row-cols-lg-auto > *{flex:0 0 auto;width:auto}.row-cols-lg-1 > *{flex:0 0 auto;width:100%}.row-cols-lg-2 > *{flex:0 0 auto;width:50%}.row-cols-lg-3 > *{flex:0 0 auto;width:33.33334%}.row-cols-lg-4 > *{flex:0 0 auto;width:25%}.row-cols-lg-5 > *{flex:0 0 auto;width:20%}.row-cols-lg-6 > *{flex:0 0 auto;width:16.66668%}.col-lg-auto{flex:0 0 auto;width:auto}.col-lg-1{flex:0 0 auto;width:8.33334%}.col-lg-2{flex:0 0 auto;width:16.66668%}.col-lg-3{flex:0 0 auto;width:25%}.col-lg-4{flex:0 0 auto;width:33.33334%}.col-lg-5{flex:0 0 auto;width:41.66668%}.col-lg-6{flex:0 0 auto;width:50%}.col-lg-7{flex:0 0 auto;width:58.33334%}.col-lg-8{flex:0 0 auto;width:66.66668%}.col-lg-9{flex:0 0 auto;width:75%}.col-lg-10{flex:0 0 auto;width:83.33334%}.col-lg-11{flex:0 0 auto;width:91.66668%}.col-lg-12{flex:0 0 auto;width:100%}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.33334%}.offset-lg-2{margin-left:16.66668%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.33334%}.offset-lg-5{margin-left:41.66668%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.33334%}.offset-lg-8{margin-left:66.66668%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.33334%}.offset-lg-11{margin-left:91.66668%}}@media (min-width: 1200px){.col-xl{flex:1 0 0}.row-cols-xl-auto > *{flex:0 0 auto;width:auto}.row-cols-xl-1 > *{flex:0 0 auto;width:100%}.row-cols-xl-2 > *{flex:0 0 auto;width:50%}.row-cols-xl-3 > *{flex:0 0 auto;width:33.33334%}.row-cols-xl-4 > *{flex:0 0 auto;width:25%}.row-cols-xl-5 > *{flex:0 0 auto;width:20%}.row-cols-xl-6 > *{flex:0 0 auto;width:16.66668%}.col-xl-auto{flex:0 0 auto;width:auto}.col-xl-1{flex:0 0 auto;width:8.33334%}.col-xl-2{flex:0 0 auto;width:16.66668%}.col-xl-3{flex:0 0 auto;width:25%}.col-xl-4{flex:0 0 auto;width:33.33334%}.col-xl-5{flex:0 0 auto;width:41.66668%}.col-xl-6{flex:0 0 auto;width:50%}.col-xl-7{flex:0 0 auto;width:58.33334%}.col-xl-8{flex:0 0 auto;width:66.66668%}.col-xl-9{flex:0 0 auto;width:75%}.col-xl-10{flex:0 0 auto;width:83.33334%}.col-xl-11{flex:0 0 auto;width:91.66668%}.col-xl-12{flex:0 0 auto;width:100%}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.33334%}.offset-xl-2{margin-left:16.66668%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.33334%}.offset-xl-5{margin-left:41.66668%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.33334%}.offset-xl-8{margin-left:66.66668%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.33334%}.offset-xl-11{margin-left:91.66668%}}@media (min-width: 1400px){.col-xxl{flex:1 0 0}.row-cols-xxl-auto > *{flex:0 0 auto;width:auto}.row-cols-xxl-1 > *{flex:0 0 auto;width:100%}.row-cols-xxl-2 > *{flex:0 0 auto;width:50%}.row-cols-xxl-3 > *{flex:0 0 auto;width:33.33334%}.row-cols-xxl-4 > *{flex:0 0 auto;width:25%}.row-cols-xxl-5 > *{flex:0 0 auto;width:20%}.row-cols-xxl-6 > *{flex:0 0 auto;width:16.66668%}.col-xxl-auto{flex:0 0 auto;width:auto}.col-xxl-1{flex:0 0 auto;width:8.33334%}.col-xxl-2{flex:0 0 auto;width:16.66668%}.col-xxl-3{flex:0 0 auto;width:25%}.col-xxl-4{flex:0 0 auto;width:33.33334%}.col-xxl-5{flex:0 0 auto;width:41.66668%}.col-xxl-6{flex:0 0 auto;width:50%}.col-xxl-7{flex:0 0 auto;width:58.33334%}.col-xxl-8{flex:0 0 auto;width:66.66668%}.col-xxl-9{flex:0 0 auto;width:75%}.col-xxl-10{flex:0 0 auto;width:83.33334%}.col-xxl-11{flex:0 0 auto;width:91.66668%}.col-xxl-12{flex:0 0 auto;width:100%}.offset-xxl-0{margin-left:0}.offset-xxl-1{margin-left:8.33334%}.offset-xxl-2{margin-left:16.66668%}.offset-xxl-3{margin-left:25%}.offset-xxl-4{margin-left:33.33334%}.offset-xxl-5{margin-left:41.66668%}.offset-xxl-6{margin-left:50%}.offset-xxl-7{margin-left:58.33334%}.offset-xxl-8{margin-left:66.66668%}.offset-xxl-9{margin-left:75%}.offset-xxl-10{margin-left:83.33334%}.offset-xxl-11{margin-left:91.66668%}}

.align-baseline{vertical-align:baseline!important}.align-top{vertical-align:top!important}.align-middle{vertical-align:middle!important}.align-bottom{vertical-align:bottom!important}.align-text-bottom{vertical-align:text-bottom!important}.align-text-top{vertical-align:text-top!important}.float-start{float:left!important}.float-end{float:right!important}.float-none{float:none!important}.overflow-auto{overflow:auto!important}.overflow-hidden{overflow:hidden!important}.overflow-visible{overflow:visible!important}.overflow-scroll{overflow:scroll!important}

.d-inline{display:inline!important}.d-inline-block{display:inline-block!important}.d-block{display:block!important}.d-grid{display:grid!important}.d-table{display:table!important}.d-table-row{display:table-row!important}.d-table-cell{display:table-cell!important}.d-flex{display:flex!important}.d-inline-flex{display:inline-flex!important}.d-none{display:none!important}

.position-static{position:static!important}.position-relative{position:relative!important}.position-absolute{position:absolute!important}.position-fixed{position:fixed!important}.position-sticky{position:sticky!important}.top-0{top:0!important}.top-50{top:50%!important}.top-100{top:100%!important}.bottom-0{bottom:0!important}.bottom-50{bottom:50%!important}.bottom-100{bottom:100%!important}.start-0{left:0!important}.start-50{left:50%!important}.start-100{left:100%!important}.end-0{right:0!important}.end-50{right:50%!important}.end-100{right:100%!important}.translate-middle{transform:translate(-50%,-50%)!important}.translate-middle-x{transform:translateX(-50%)!important}.translate-middle-y{transform:translateY(-50%)!important}.w-25{width:25%!important}.w-50{width:50%!important}.w-75{width:75%!important}.w-100{width:100%!important}.w-auto{width:auto!important}.mw-100{max-width:100%!important}.vw-100{width:100vw!important}.min-vw-100{min-width:100vw!important}.h-25{height:25%!important}.h-50{height:50%!important}.h-75{height:75%!important}.h-100{height:100%!important}.h-auto{height:auto!important}.mh-100{max-height:100%!important}.vh-100{height:100vh!important}.min-vh-100{min-height:100vh!important}

.flex-fill{flex:1 1 auto!important}.flex-row{flex-direction:row!important}.flex-column{flex-direction:column!important}.flex-row-reverse{flex-direction:row-reverse!important}.flex-column-reverse{flex-direction:column-reverse!important}.flex-grow-0{flex-grow:0!important}.flex-grow-1{flex-grow:1!important}.flex-shrink-0{flex-shrink:0!important}.flex-shrink-1{flex-shrink:1!important}.flex-wrap{flex-wrap:wrap!important}.flex-nowrap{flex-wrap:nowrap!important}.flex-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-start{justify-content:flex-start!important}.justify-content-end{justify-content:flex-end!important}.justify-content-center{justify-content:center!important}.justify-content-between{justify-content:space-between!important}.justify-content-around{justify-content:space-around!important}.justify-content-evenly{justify-content:space-evenly!important}.align-items-start{align-items:flex-start!important}.align-items-end{align-items:flex-end!important}.align-items-center{align-items:center!important}.align-items-baseline{align-items:baseline!important}.align-items-stretch{align-items:stretch!important}.align-content-start{align-content:flex-start!important}.align-content-end{align-content:flex-end!important}.align-content-center{align-content:center!important}.align-content-between{align-content:space-between!important}.align-content-around{align-content:space-around!important}.align-content-stretch{align-content:stretch!important}.align-self-auto{align-self:auto!important}.align-self-start{align-self:flex-start!important}.align-self-end{align-self:flex-end!important}.align-self-center{align-self:center!important}.align-self-baseline{align-self:baseline!important}.align-self-stretch{align-self:stretch!important}.order-first{order:-1!important}.order-0{order:0!important}.order-1{order:1!important}.order-2{order:2!important}.order-3{order:3!important}.order-4{order:4!important}.order-5{order:5!important}.order-last{order:6!important}

@media (min-width: 576px){.float-sm-start{float:left!important}.float-sm-end{float:right!important}.float-sm-none{float:none!important}.d-sm-inline{display:inline!important}.d-sm-inline-block{display:inline-block!important}.d-sm-block{display:block!important}.d-sm-grid{display:grid!important}.d-sm-table{display:table!important}.d-sm-table-row{display:table-row!important}.d-sm-table-cell{display:table-cell!important}.d-sm-flex{display:flex!important}.d-sm-inline-flex{display:inline-flex!important}.d-sm-none{display:none!important}.flex-sm-fill{flex:1 1 auto!important}.flex-sm-row{flex-direction:row!important}.flex-sm-column{flex-direction:column!important}.flex-sm-row-reverse{flex-direction:row-reverse!important}.flex-sm-column-reverse{flex-direction:column-reverse!important}.flex-sm-grow-0{flex-grow:0!important}.flex-sm-grow-1{flex-grow:1!important}.flex-sm-shrink-0{flex-shrink:0!important}.flex-sm-shrink-1{flex-shrink:1!important}.flex-sm-wrap{flex-wrap:wrap!important}.flex-sm-nowrap{flex-wrap:nowrap!important}.flex-sm-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-sm-start{justify-content:flex-start!important}.justify-content-sm-end{justify-content:flex-end!important}.justify-content-sm-center{justify-content:center!important}.justify-content-sm-between{justify-content:space-between!important}.justify-content-sm-around{justify-content:space-around!important}.justify-content-sm-evenly{justify-content:space-evenly!important}.align-items-sm-start{align-items:flex-start!important}.align-items-sm-end{align-items:flex-end!important}.align-items-sm-center{align-items:center!important}.align-items-sm-baseline{align-items:baseline!important}.align-items-sm-stretch{align-items:stretch!important}.align-content-sm-start{align-content:flex-start!important}.align-content-sm-end{align-content:flex-end!important}.align-content-sm-center{align-content:center!important}.align-content-sm-between{align-content:space-between!important}.align-content-sm-around{align-content:space-around!important}.align-content-sm-stretch{align-content:stretch!important}.align-self-sm-auto{align-self:auto!important}.align-self-sm-start{align-self:flex-start!important}.align-self-sm-end{align-self:flex-end!important}.align-self-sm-center{align-self:center!important}.align-self-sm-baseline{align-self:baseline!important}.align-self-sm-stretch{align-self:stretch!important}.order-sm-first{order:-1!important}.order-sm-0{order:0!important}.order-sm-1{order:1!important}.order-sm-2{order:2!important}.order-sm-3{order:3!important}.order-sm-4{order:4!important}.order-sm-5{order:5!important}.order-sm-last{order:6!important}.text-sm-start{text-align:left!important}.text-sm-end{text-align:right!important}.text-sm-center{text-align:center!important}}@media (min-width: 768px){.float-md-start{float:left!important}.float-md-end{float:right!important}.float-md-none{float:none!important}.d-md-inline{display:inline!important}.d-md-inline-block{display:inline-block!important}.d-md-block{display:block!important}.d-md-grid{display:grid!important}.d-md-table{display:table!important}.d-md-table-row{display:table-row!important}.d-md-table-cell{display:table-cell!important}.d-md-flex{display:flex!important}.d-md-inline-flex{display:inline-flex!important}.d-md-none{display:none!important}.flex-md-fill{flex:1 1 auto!important}.flex-md-row{flex-direction:row!important}.flex-md-column{flex-direction:column!important}.flex-md-row-reverse{flex-direction:row-reverse!important}.flex-md-column-reverse{flex-direction:column-reverse!important}.flex-md-grow-0{flex-grow:0!important}.flex-md-grow-1{flex-grow:1!important}.flex-md-shrink-0{flex-shrink:0!important}.flex-md-shrink-1{flex-shrink:1!important}.flex-md-wrap{flex-wrap:wrap!important}.flex-md-nowrap{flex-wrap:nowrap!important}.flex-md-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-md-start{justify-content:flex-start!important}.justify-content-md-end{justify-content:flex-end!important}.justify-content-md-center{justify-content:center!important}.justify-content-md-between{justify-content:space-between!important}.justify-content-md-around{justify-content:space-around!important}.justify-content-md-evenly{justify-content:space-evenly!important}.align-items-md-start{align-items:flex-start!important}.align-items-md-end{align-items:flex-end!important}.align-items-md-center{align-items:center!important}.align-items-md-baseline{align-items:baseline!important}.align-items-md-stretch{align-items:stretch!important}.align-content-md-start{align-content:flex-start!important}.align-content-md-end{align-content:flex-end!important}.align-content-md-center{align-content:center!important}.align-content-md-between{align-content:space-between!important}.align-content-md-around{align-content:space-around!important}.align-content-md-stretch{align-content:stretch!important}.align-self-md-auto{align-self:auto!important}.align-self-md-start{align-self:flex-start!important}.align-self-md-end{align-self:flex-end!important}.align-self-md-center{align-self:center!important}.align-self-md-baseline{align-self:baseline!important}.align-self-md-stretch{align-self:stretch!important}.order-md-first{order:-1!important}.order-md-0{order:0!important}.order-md-1{order:1!important}.order-md-2{order:2!important}.order-md-3{order:3!important}.order-md-4{order:4!important}.order-md-5{order:5!important}.order-md-last{order:6!important}.text-md-start{text-align:left!important}.text-md-end{text-align:right!important}.text-md-center{text-align:center!important}}@media (min-width: 992px){.float-lg-start{float:left!important}.float-lg-end{float:right!important}.float-lg-none{float:none!important}.d-lg-inline{display:inline!important}.d-lg-inline-block{display:inline-block!important}.d-lg-block{display:block!important}.d-lg-grid{display:grid!important}.d-lg-table{display:table!important}.d-lg-table-row{display:table-row!important}.d-lg-table-cell{display:table-cell!important}.d-lg-flex{display:flex!important}.d-lg-inline-flex{display:inline-flex!important}.d-lg-none{display:none!important}.flex-lg-fill{flex:1 1 auto!important}.flex-lg-row{flex-direction:row!important}.flex-lg-column{flex-direction:column!important}.flex-lg-row-reverse{flex-direction:row-reverse!important}.flex-lg-column-reverse{flex-direction:column-reverse!important}.flex-lg-grow-0{flex-grow:0!important}.flex-lg-grow-1{flex-grow:1!important}.flex-lg-shrink-0{flex-shrink:0!important}.flex-lg-shrink-1{flex-shrink:1!important}.flex-lg-wrap{flex-wrap:wrap!important}.flex-lg-nowrap{flex-wrap:nowrap!important}.flex-lg-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-lg-start{justify-content:flex-start!important}.justify-content-lg-end{justify-content:flex-end!important}.justify-content-lg-center{justify-content:center!important}.justify-content-lg-between{justify-content:space-between!important}.justify-content-lg-around{justify-content:space-around!important}.justify-content-lg-evenly{justify-content:space-evenly!important}.align-items-lg-start{align-items:flex-start!important}.align-items-lg-end{align-items:flex-end!important}.align-items-lg-center{align-items:center!important}.align-items-lg-baseline{align-items:baseline!important}.align-items-lg-stretch{align-items:stretch!important}.align-content-lg-start{align-content:flex-start!important}.align-content-lg-end{align-content:flex-end!important}.align-content-lg-center{align-content:center!important}.align-content-lg-between{align-content:space-between!important}.align-content-lg-around{align-content:space-around!important}.align-content-lg-stretch{align-content:stretch!important}.align-self-lg-auto{align-self:auto!important}.align-self-lg-start{align-self:flex-start!important}.align-self-lg-end{align-self:flex-end!important}.align-self-lg-center{align-self:center!important}.align-self-lg-baseline{align-self:baseline!important}.align-self-lg-stretch{align-self:stretch!important}.order-lg-first{order:-1!important}.order-lg-0{order:0!important}.order-lg-1{order:1!important}.order-lg-2{order:2!important}.order-lg-3{order:3!important}.order-lg-4{order:4!important}.order-lg-5{order:5!important}.order-lg-last{order:6!important}.text-lg-start{text-align:left!important}.text-lg-end{text-align:right!important}.text-lg-center{text-align:center!important}}@media (min-width: 1200px){.float-xl-start{float:left!important}.float-xl-end{float:right!important}.float-xl-none{float:none!important}.d-xl-inline{display:inline!important}.d-xl-inline-block{display:inline-block!important}.d-xl-block{display:block!important}.d-xl-grid{display:grid!important}.d-xl-table{display:table!important}.d-xl-table-row{display:table-row!important}.d-xl-table-cell{display:table-cell!important}.d-xl-flex{display:flex!important}.d-xl-inline-flex{display:inline-flex!important}.d-xl-none{display:none!important}.flex-xl-fill{flex:1 1 auto!important}.flex-xl-row{flex-direction:row!important}.flex-xl-column{flex-direction:column!important}.flex-xl-row-reverse{flex-direction:row-reverse!important}.flex-xl-column-reverse{flex-direction:column-reverse!important}.flex-xl-grow-0{flex-grow:0!important}.flex-xl-grow-1{flex-grow:1!important}.flex-xl-shrink-0{flex-shrink:0!important}.flex-xl-shrink-1{flex-shrink:1!important}.flex-xl-wrap{flex-wrap:wrap!important}.flex-xl-nowrap{flex-wrap:nowrap!important}.flex-xl-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-xl-start{justify-content:flex-start!important}.justify-content-xl-end{justify-content:flex-end!important}.justify-content-xl-center{justify-content:center!important}.justify-content-xl-between{justify-content:space-between!important}.justify-content-xl-around{justify-content:space-around!important}.justify-content-xl-evenly{justify-content:space-evenly!important}.align-items-xl-start{align-items:flex-start!important}.align-items-xl-end{align-items:flex-end!important}.align-items-xl-center{align-items:center!important}.align-items-xl-baseline{align-items:baseline!important}.align-items-xl-stretch{align-items:stretch!important}.align-content-xl-start{align-content:flex-start!important}.align-content-xl-end{align-content:flex-end!important}.align-content-xl-center{align-content:center!important}.align-content-xl-between{align-content:space-between!important}.align-content-xl-around{align-content:space-around!important}.align-content-xl-stretch{align-content:stretch!important}.align-self-xl-auto{align-self:auto!important}.align-self-xl-start{align-self:flex-start!important}.align-self-xl-end{align-self:flex-end!important}.align-self-xl-center{align-self:center!important}.align-self-xl-baseline{align-self:baseline!important}.align-self-xl-stretch{align-self:stretch!important}.order-xl-first{order:-1!important}.order-xl-0{order:0!important}.order-xl-1{order:1!important}.order-xl-2{order:2!important}.order-xl-3{order:3!important}.order-xl-4{order:4!important}.order-xl-5{order:5!important}.order-xl-last{order:6!important}.text-xl-start{text-align:left!important}.text-xl-end{text-align:right!important}.text-xl-center{text-align:center!important}}@media (min-width: 1400px){.float-xxl-start{float:left!important}.float-xxl-end{float:right!important}.float-xxl-none{float:none!important}.d-xxl-inline{display:inline!important}.d-xxl-inline-block{display:inline-block!important}.d-xxl-block{display:block!important}.d-xxl-grid{display:grid!important}.d-xxl-table{display:table!important}.d-xxl-table-row{display:table-row!important}.d-xxl-table-cell{display:table-cell!important}.d-xxl-flex{display:flex!important}.d-xxl-inline-flex{display:inline-flex!important}.d-xxl-none{display:none!important}.flex-xxl-fill{flex:1 1 auto!important}.flex-xxl-row{flex-direction:row!important}.flex-xxl-column{flex-direction:column!important}.flex-xxl-row-reverse{flex-direction:row-reverse!important}.flex-xxl-column-reverse{flex-direction:column-reverse!important}.flex-xxl-grow-0{flex-grow:0!important}.flex-xxl-grow-1{flex-grow:1!important}.flex-xxl-shrink-0{flex-shrink:0!important}.flex-xxl-shrink-1{flex-shrink:1!important}.flex-xxl-wrap{flex-wrap:wrap!important}.flex-xxl-nowrap{flex-wrap:nowrap!important}.flex-xxl-wrap-reverse{flex-wrap:wrap-reverse!important}.justify-content-xxl-start{justify-content:flex-start!important}.justify-content-xxl-end{justify-content:flex-end!important}.justify-content-xxl-center{justify-content:center!important}.justify-content-xxl-between{justify-content:space-between!important}.justify-content-xxl-around{justify-content:space-around!important}.justify-content-xxl-evenly{justify-content:space-evenly!important}.align-items-xxl-start{align-items:flex-start!important}.align-items-xxl-end{align-items:flex-end!important}.align-items-xxl-center{align-items:center!important}.align-items-xxl-baseline{align-items:baseline!important}.align-items-xxl-stretch{align-items:stretch!important}.align-content-xxl-start{align-content:flex-start!important}.align-content-xxl-end{align-content:flex-end!important}.align-content-xxl-center{align-content:center!important}.align-content-xxl-between{align-content:space-between!important}.align-content-xxl-around{align-content:space-around!important}.align-content-xxl-stretch{align-content:stretch!important}.align-self-xxl-auto{align-self:auto!important}.align-self-xxl-start{align-self:flex-start!important}.align-self-xxl-end{align-self:flex-end!important}.align-self-xxl-center{align-self:center!important}.align-self-xxl-baseline{align-self:baseline!important}.align-self-xxl-stretch{align-self:stretch!important}.order-xxl-first{order:-1!important}.order-xxl-0{order:0!important}.order-xxl-1{order:1!important}.order-xxl-2{order:2!important}.order-xxl-3{order:3!important}.order-xxl-4{order:4!important}.order-xxl-5{order:5!important}.order-xxl-last{order:6!important}.text-xxl-start{text-align:left!important}.text-xxl-end{text-align:right!important}.text-xxl-center{text-align:center!important}}

/* =============================================================================
   accordions
   ========================================================================== */
* + .wp-block-pb-accordion-item{margin-top: 1.875rem}
.wp-block-pb-accordion-item + .wp-block-pb-accordion-item{margin-top: 1.25rem}

.wp-block-pb-accordion-item{box-shadow: 0 .3125rem .9375rem 0 rgba(222, 224, 227, .5); background-color: #fff; color: var(--ama-body-color)}
   .wp-block-pb-accordion-item .c-accordion__title{
      --ama-accordion-title-font-size: var(--ama-md-font-size);
      --ama-accordion-title-line-height: var(--ama-md-line-height);
      padding: 1.25rem 4.375rem 1.25rem 1.25rem;
      font-size: var(--ama-accordion-title-font-size);
      line-height: var(--ama-accordion-title-line-height);
      position: relative;
      border: none;
      display: block;
      font-weight: 700;
      width: 100%;
      box-sizing: border-box;
      margin: 0!important;
      text-align: left;
      background-color: transparent
   }
      .c-accordion__title > .accordion-subtitle{font-size: var(--ama-body-font-size); line-height: var(--ama-body-line-height); font-weight: var(--ama-body-font-weight)}

      .c-accordion__title:after{
         content: ''!important;
         display: -webkit-flex;
         display: flex;
         -webkit-flex-direction: row;
         flex-direction: row;
         -webkit-flex-wrap: wrap;
         flex-wrap: wrap;
         -webkit-justify-content: center;
         justify-content: center;
         -webkit-align-content: center;
         align-content: center;
         -webkit-align-items: center;
         align-items: center;
         font-size: 1.5rem;
         line-height: 1em;
         padding: 0;
         width: 1.875rem;
         height: 1.875rem;
         position: absolute;
         right: 1.25rem;
         border-radius: 50%;
         background-color: var(--ama-secondary-color);
         background-image: url(../images/accordion-arrow.svg);
         background-position: center;
         background-repeat: no-repeat;
         background-size: .75rem auto
      }
      .is-open > .c-accordion__title:after,
      .c-accordion__title[aria-expanded="true"]:after{
         background-color: #272F42;
         background-image: url(../images/accordion-arrow-open.svg);
         background-size: .5625rem auto
      }

   .wp-block-pb-accordion-item .c-accordion__content{padding: .25rem 1.25rem 1.5rem 4rem; position: relative}
      .wp-block-pb-accordion-item .c-accordion__content::before{
         content: '';
         display: block;
         width: .25rem;
         background-color: #DEE0E3;
         position: absolute;
         top: 0;
         left: 2.5rem;
         bottom: 1.25rem
      }

/* =============================================================================
   acf blocks
   ========================================================================== */
* + .ama-block,
.ama-block + *{margin-top: var(--ama-margin-top-block)}

.wp-el + .ama-block.block-cards{margin-top: var(--ama-margin-top-base)}

/* =============================================================================
   Google Maps
   ========================================================================== */

/* .gmnoprint{visibility: hidden;} */